body {
	background-color: gray;
}

button:focus { 
    outline: 0 !important; 
}

.background {
	position: fixed;
	background-color: white;
	height: 100vh;
	width: 75vw;
 	margin-left: -37.5vw;
 	left: 50%;
}

.wrongAnswer, .wrong {
	color: red;
}

.correctAnswer, .correct {
	color: green;
}

.wrong, .correct {
	font-size: 30px;
	line-height: 50px;
}

.question {
	margin-bottom: 20px;
}

.answer {
	line-height: 45px;
	padding: 0px 50px 0px 5px;
	border: 1px solid #f2d224;
	padding: 10px;
	margin: 10px;
	background-color: black;
}

.progress {
	margin: 20px;
}

.stats {
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
}

.statsVar {
	font-weight: normal;
}

.answerReveal {
	font-style: italic;
}
















